ul.ajs-drop-down {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    background: #fff;
    border: solid 1px #bbb;
    border-top: none;
    font-size: 1em;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 1.8em;
    white-space: nowrap;
    width: 24em;
}

ul.ajs-drop-down ol li a i {
	display: none;
}

ul.ajs-drop-down ol {
    border-bottom: solid 1px #f0f0f0;
    list-style: none;
    margin: 0;
    padding: .5em 0;
}

ul.ajs-drop-down ol.last {
    border-bottom: none;
}

ul.ajs-drop-down li {
    height: 24px;
    line-height: 24px;
    padding: 0 .3em;
    position: relative;
}

ul.ajs-drop-down li img {
    height: 1.72em;
    left: .4em;
    position: absolute;
    top: .2em;
    width: 1.72em;
}

ul.ajs-drop-down li a {
    color: #535353;
    display: block;
    outline: none;
    position: relative;
    text-decoration: none;
}

ul.ajs-drop-down li a span {
    background-position: 4px 50%;
    background-repeat: no-repeat;
    display: block;
    padding-left: 2.5em;
}

ul.ajs-drop-down li.active {
    background: #79aad6;
}

ul.ajs-drop-down li.active a,
ul.ajs-drop-down li.active a strong,
ul.ajs-drop-down li.active a label {
    color: #fff;
}
ul.ajs-drop-down label {
    font-weight: 400;
    color: #535353;
}