<!--背景音乐--> 
<EMBED style="FILTER: Gray" src=http://12u.565656.com/520071012/UUAuth/20051/5/12.Wma
width=300 height=45 type=audio/mpeg loop="true" autostart="true" volume="80">

<!--隐藏大学生互动空间/你好/LOGO/导航栏/广告布告推荐/底部链接/侧边拦/底部导航栏--> 
<style type=text/css><!--#tagline,#utility,#logo,.block,#permalink,,#footer{display:none;}--></style> 
<style type=text/css><!--#userRelations{float:right;;}#userUpdates{float:left;;}--></style> 
<style type="text/css"><!--#header{display : none;}--></style>

<!--定义背景颜色/鼠标--> 
<BODY BACKGROUND="http://fm181.img.xiaonei.com/pic001/20070826/21/55/large_31240d177.jpg">
<!--style type="text/css">
	<!--#homepage{color : #cc33ff;cursor : url(http://img.zidou.com/myfile/zidou/ani/154.cur);}#header{display : none;}#homepage a:link{color : #cc33ff;}-->
<!--/style-->

<!--使页面居中，加宽，设置边框--> 
<style type=text/css><!-- 
#container{overflow:visible;position:relative;width:1000px;margin:0 auto;} 
#content{float:none;overflow:visible;MARGIN-RIGHT:auto;MARGIN-LEFT:auto;width:900px;border:solid 1px #0066CC;padding:20px;}--></style> 

<!--调整各部分位置/宽度--> 
<style type=text/css><!--#userRelations{float:right;;width:250px;}#userUpdates{float:left;;width:600px;}--></style> 

<!--定义Banner--> 
<style type=text/css><!--#userTalk .info{background:transparent;border-top:1px solid #CCC58F;}--></style> 
<style type=text/css><!--#userTalk .info{background:transparent;border-top:1px solid #CCC58F;}--></style> 
<style type=text/css><!-- 
#userRelations #userInfo{border:solid 1px #CCC58F;overflow:visible;margin-top:0px;margin-bottom:10px;margin-left:auto;margin-right:auto;} 
#userRelations #userStatus,#userRelations #userVisitor,#userRelations #userFriendSpecial,#userRelations #userFriend,#userRelations #userShare{border:solid 1px #CCC58F;margin-top:10px;overflow:auto;margin-bottom:10px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;} 
#userRelations #userFriendUniv{border:solid 1px #CCC58F;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px;} 
#userStatus .boxcont,#userVisitor .boxcont,#userFriendSpecial .boxcont,#userFriend .boxcont,#userShare .boxcont,#userFriendUniv .boxcont{border:solid 0px #CCC58F;} 
#userUpdates #userProfile{border:solid 1px #cc99ff;margin-top:0px;margin-bottom:10px;margin-left:auto;margin-right:auto;padding:10px;} 
#userUpdates #userAlbum,#userUpdates #userBlog,#content #userPandora,#userGroup,#userTalk{position:relative;overflow:visible;border:solid 1px #CCC58F;margin-top:10px;margin-bottom:10px;margin-left:auto;margin-right:auto;padding:10px;} 
--></style>

<!--定义导航条--> 
<style type="text/css"><!-- 
#navigation{position:absolute;right:0px;top:150px;width:800px;height:30px;background:transparent;border:solid 0px #cc99ff;} 
 #navigation A,#navigation A:link,#navigation A:visited{FONT-WEIGHT:bold;FONT-SIZE:15px;FILTER:Glow(Color=CC99FF,Strength=7);COLOR:#ffffff;TEXT-DECORATION:blink;background:transparent;} 
#navigation A:hover{FONT-SIZE:14px;BORDER-RIGHT:#cc99ff 1px dotted;BORDER-TOP:#cc99ff 1px dotted;BORDER-LEFT:#cc99ff 1px dotted;BORDER-BOTTOM:#cc99ff 1px dotted;background:transparent;} 
--></style> 

<!--定义sidebar--> 
<style type="text/css"><!--#sidebar{float : right;display : none;}#mymenu{display : none;}#sidebar .block{display : none;}--></style>
<style type="text/css"><!--#sidebar{position:absolute;left:0px;top:0px;}--></style> 
<style type=text/css><!--  * html .inputbutton,* html .subbutton,* html .inputsubmit{padding:3px;border:1px solid #cc99ff;background:black;color:#bd80e6;height:24px;line-height:16px;} 
<style type=text/css>.personName{;}</style> 
<style type=text/css><!--#userTalk .info{background:transparent;border-top:1px solid #CCC58F;}--></style> 
<style type=text/css><!--#userBlog .info{background:transparent;border-top:1px solid #CCC58F;}--></style> 
<style type=text/css><!-- 
.box h3,#userProfile h3{background:transparent;border-top:0px;border-bottom:1px dashed #009900;} 
.more a{position:relative;top:15px;} 
.share{position:relative;top:15px;left:-10px;} 
 --></style>