*.pyc
*.log
*.cfg
*.trace
*.norun
*.ampl
index.yaml
*/*/bin/*
*/*/debug/*
*/*/Debug/*
*/*/release/*
*/*/Release/*
*/*/bin-debug/*
*/*/bin-release/*
cpp/*/*/Debug/*
cpp/*/*/Release/*
cpp/*/*.ncb
cpp/*/*.suo
cpp/*/*/*.user
hacker/*/*.o
hacker/*/*.exe
linux/*/*/*.o
linux/*/*/*.out
linux/*/*/*.exe
