/* CSS file */
global {
	font-family: Verdana, Arial, "MS Gothic", SimSun, Sans-serif;
	font-size: 10pt;
}

Application {
    paddingTop: 10;
    paddingBottom: 10;
    paddingLeft: 10;
    paddingRight: 10;
    verticalGap: 10;
}

Panel {
    cornerRadius: 5;
    panelBorderStyle: "roundCorners";
    backgroundColor: "AAAAAA";
    backgroundAlpha: 0.0;
    roundedBottomCorners: false;
}

titleBar {
   fillAlphas: 1, 1;
   fillColors: #000000, #999999;
   dropShadowEnabled: true;
}

ApplicationControlBar {
   dropShadowEnabled: true;
   shadowDistance: 2;
}
