<DIV id=favourite_site>
    <H3>Favourite Sites</H3>
    <dl>
        <dt>Open Source:</dt>
        <dd>
            <UL>
                <LI><A href="http://www.java-source.net/">Java-source.net</A>
                <LI><A href="http://www.sourceforge.net/">Souceforge.net</A>
                <LI><A href="http://www.huihoo.com/">Huihoo.com</A>
                <LI><A href="http://www.jdocs.com/">Open Docs</A>
                </LI>
            </UL>
        </dd>
        <dt>Intellij IDEA</dt>
        <dd>
            <UL>
                <LI><A href="http://www.jetbrains.com/">JetBrains.com</A>
                <LI><A href="http://www.jetmaven.net/">JetMaven.net</A>
                <LI><A href="http://www.intellij.net/forums/index.jsp?cat=8">Intellij.net</A>
                </LI>
            </UL>
        </dd>
        <dt>J2EE</dt>
        <dd>
            <UL>
                <LI><A href="http://www.theserverside.com/">TheServerSide</A>
                <LI><A href="http://www.onjava.com/">ONJava.com</A>
                <LI><A href="http://www.javarss.com/">JavaRss</A>
                <LI><A href="http://www.javaeye.com/">JavaEye</A>
                </LI>
            </UL>
        </dd>
        <dt>App FrameWork</dt>
        <dd>
            <UL>
                <LI><A href="https://appfuse.dev.java.net/">Appfuse</A>
                <LI><A href="http://www.springframework.org/">SpringFramework</A>
                <LI><A href="http://www.hibernate.org/">Hibernate</A>
                </LI>
            </UL>
        </dd>
        <dt>Blog &amp; Wiki</dt>
        <dd></dd>
    </dl>
</DIV>