<DIV id=favourite_ebook>
    <H3>Favourite e-Books</H3>
    <dl>
        <dt>Agile &amp; Open Source:</dt>
        <dd>
            <UL>
                <LI><A href="">JUnit In Action</A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">XDoclet In Action</A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Spring In Action </A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Hibernate In Action </A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Struts In Action </A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Struts In Action </A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Java Development With ANT </A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">Essential Skills for Agile Dev </A><IMG src="/img/pdf.gif" border=0>
                </LI>
            </UL>
        </dd>
        <dt>Java &amp; J2EE</dt>
        <dd>
            <UL>
                <LI><A href="">Java 2 Complete Reference (5th Ed)</A><IMG src="/img/pdf.gif" border=0>
                <LI><A href="">J2EE Developer's Handbook</A><IMG src="/img/pdf.gif" border=0>
                </LI>
            </UL>
        </dd>
        <dt>My Article</dt>
        <dd>
            <UL>
                <LI><A href="">JUnit Practice</A><IMG src="/img/doc.gif" border=0><IMG src="/img/ppt.gif" border=0>
                <LI><A href="">Oscache Guide</A><IMG src="/img/doc.gif" border=0><IMG src="/img/doc.gif" border=0>
                <LI><A href="">Rule Engine</A><IMG src="/img/doc.gif" border=0><IMG src="/img/ppt.gif" border=0>
                </LI>
            </UL>
        </dd>
    </dl>
</DIV>