/* Sliding Subnav Styles */
.slidenav {
	margin-top: 10px;
    position: relative;
}

.slidenav a {
    color: #f1f1f1;
	text-decoration: none;
}

.slidenav ul, .slidenav ul li {
    height: 3em;
    line-height: 3em;
    list-style: none;
}

.subnav ul li, .subnav ul, .slidenav-box {
    height: 2em;
    line-height: 2.3em;
    list-style: none;
}

.slidenav ul a, .subnav ul a {
    display: block;
    padding: 0px 10px;
}

.slidenav ul li, .subnav ul li {
    float: left;
}

.slidenav ul li ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
}

.slidenav ul li:hover ul {
    display: block;
}

.subnav ul {
    display: none;
	font-size: 13px;
}

.subnav ul a {
	color: orange;
	text-decoration: none;
}

.slidenav-box {
    margin: 5px 0px;
    border: 1px solid #472841;
    padding: 0px 20px;
	background: #F4F4F4;
}

.inactive-box {
	visibility: hidden;
}

/* End Sliding Subnav Styles */
