{% extends 'index.html' %}

{% block title %}
{{expert.name}}
{% endblock %}

{% block contents %}
<div>
<ul><br>Name: {{expert.name}}<br/></ul>
<ul><br>Birthday: {{expert.birthday}}<br/></ul>
<ul><br>Gender: {{expert.gender}}<br/></ul>
<ul><br>Nationality: {{expert.nationality}}<br/></ul>
<ul><br>City: {{expert.city}}<br/></ul>
<ul><br>Sap_experience: {{expert.sap_experience}}<br/></ul>
<ul><br>Manager: {{expert.manager}}<br/></ul>
</div>
<ul>
<a href="/edit/{{expert.key}}">Edit</a>
</ul>
{% endblock %}
