<style type="text/css">
<!-- 

.p12220 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LETTER-SPACING: 0px; LINE-HEIGHT: 22px
}
.p14220 {
	FONT-FAMILY: 宋体; FONT-SIZE: 14px; LETTER-SPACING: 0px; LINE-HEIGHT: 22px
}
.p14221 {
	FONT-FAMILY: 宋体; FONT-SIZE: 14px; LETTER-SPACING: 1px; LINE-HEIGHT: 22px
}
.p14a{
	FONT-FAMILY: 宋体;FONT-SIZE: 14.8px;
}

.p12 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LETTER-SPACING: 0px; LINE-HEIGHT: 16px
}
.p6 {
	FONT-FAMILY: 宋体; FONT-SIZE: 8px; LETTER-SPACING: 4px; LINE-HEIGHT: 16px
}
.p121 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LETTER-SPACING: 1px; LINE-HEIGHT: 16px
}
.p122 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LETTER-SPACING: 1px; LINE-HEIGHT: 22px
}
.p12a {
	FONT-FAMILY: 宋体;FONT-SIZE: 12px;  LINE-HEIGHT:150%
}
.p1220 {
	FONT-FAMILY: 宋体; FONT-SIZE: 12px; LETTER-SPACING: 0px; LINE-HEIGHT: 22px
}
.p20 {
	FONT-FAMILY: 宋体; FONT-SIZE: 20px; LETTER-SPACING: 1px; LINE-HEIGHT: 22px
}
.p20a {
	FONT-FAMILY: "宋体";COLOR:#666666; FONT-SIZE: 20px; LETTER-SPACING: 1px; LINE-HEIGHT: 20pt
}

.input {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #CCCCCC 1px solid; FONT-SIZE: 12px; font-COLOR:#ff0000;BORDER-LEFT: #CCCCCC 1px solid;BACKGROUND-COLOR: #f7f7f7; PADDING-TOP: 3px; BORDER-BOTTOM: #CCCCCC 1px solid; HEIGHT: 20px
}
.input1 {
	BORDER-RIGHT: #BFD9F2 1px solid; BORDER-TOP: #BFD9F2 1px solid; FONT-SIZE: 12px; font-COLOR:#cccccc;BORDER-LEFT: #BFD9F2 1px solid;BACKGROUND-COLOR: #F7FBFF; PADDING-TOP: 3px; BORDER-BOTTOM: #BFD9F2 1px solid; HEIGHT: 20px
}
.input2 {
	BORDER-RIGHT: #BFD9F2 1px solid; BORDER-TOP: #BFD9F2 1px solid; FONT-SIZE: 12px; font-COLOR:#cccccc;BORDER-LEFT: #BFD9F2 1px solid;BACKGROUND-COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #BFD9F2 1px solid; HEIGHT: 300px
}

.input3 {
	BORDER-RIGHT: #8B0000 1px solid; BORDER-TOP: #8B0000 1px solid; FONT-SIZE: 12px; font-COLOR:#cccccc;BORDER-LEFT: #8B0000 1px solid;BACKGROUND-COLOR: #ffffff; PADDING-TOP: 3px; BORDER-BOTTOM: #8B0000 1px solid; HEIGHT: 20px
}

.sinput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #c0c0c0}
              
.tb_gam {
	BORDER-RIGHT: #E2D7E1 1px solid; BORDER-TOP: #E2D7E1 1px solid; BORDER-LEFT: #E2D7E1 1px solid; BORDER-BOTTOM: #E2D7E1 1px solid
}
.tb_spo {
	BORDER-RIGHT: #AAAAAA 1px solid; BORDER-TOP: #AAAAAA 1px solid; BORDER-LEFT: #AAAAAA 1px solid; BORDER-BOTTOM: #AAAAAA 1px solid
}
.tb_sec {
	BORDER-RIGHT: #F9DAB8 1px solid; BORDER-TOP: #F9DAB8 1px solid; BORDER-LEFT: #F9DAB8 1px solid; BORDER-BOTTOM: #F9DAB8 1px solid
}
.tb_cha {
	BORDER-RIGHT: #F1C8DA 1px solid; BORDER-TOP: #F1C8DA 1px solid; BORDER-LEFT: #F1C8DA 1px solid; BORDER-BOTTOM: #F1C8DA 1px solid
}
.tb_rec {
	BORDER-RIGHT: #EDE1B1 1px solid; BORDER-TOP: #EDE1B1 1px solid; BORDER-LEFT: #EDE1B1 1px solid; BORDER-BOTTOM: #EDE1B1 1px solid
}
.tb_mus {
	BORDER-RIGHT: #D1F3A7 1px solid; BORDER-TOP: #D1F3A7 1px solid; BORDER-LEFT: #D1F3A7 1px solid; BORDER-BOTTOM: #D1F3A7 1px solid
}
.tb_mus_blueline {
	BORDER-RIGHT: #D0E0F9 1px solid; BORDER-TOP: #D0E0F9 1px solid; BORDER-LEFT: #D0E0F9 1px solid; BORDER-BOTTOM: #D0E0F9 1px solid
}
.tb {
	BORDER-RIGHT: #CCCCCC 1px solid; BORDER-TOP: #CCCCCC 1px solid; BORDER-LEFT: #CCCCCC 1px solid; BORDER-BOTTOM: #CCCCCC 1px solid
}
.tb1 {
	BORDER-RIGHT: #E3E1E2 1px solid; BORDER-TOP: #E3E1E2 1px solid; BORDER-LEFT: #E3E1E2 1px solid; BORDER-BOTTOM: #E3E1E2 1px solid
}
.tb2 {
	BORDER-RIGHT: #B7D7FD 1px solid; BORDER-TOP: #B7D7FD 1px solid; BORDER-LEFT: #B7D7FD 1px solid; BORDER-BOTTOM: #B7D7FD 1px solid
}
BODY{ 
scrollbar-base-color:#CDE2FF; 
scrollbar-face-color:#CDE2FF; 
scrollbar-track-color:#ffffff; 
scrollbar-arrow-color:#85B9FB; 
scrollbar-3dlight-color:#FFFFFF; 
scrollbar-highlight-color:#9EC3F6; 
scrollbar-shadow-color:#9EC3F6; 
scrollbar-darkshadow-color:#;}

A.c:link {COLOR:#000000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.c:visited {COLOR:#934D8E; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.c:active {COLOR:#000000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.c:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: underline;}

A.d:link {COLOR:#0000FF; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.d:visited {COLOR:#934D8E; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.d:active {COLOR:#0000FF; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.d:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}

A.B:link {COLOR:#666666; FONT-SIZE: 9px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.B:visited {COLOR:#666666; FONT-SIZE: 9px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.B:active {COLOR:#666666; FONT-SIZE: 9px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.B:hover {COLOR: #679ED7; FONT-SIZE: 9px; LETTER-SPACING: 0px;TEXT-DECORATION: underline;}

A.a:link {COLOR:#666666; FONT-SIZE: 12px; HEIGHT: 20px;LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a:visited {COLOR:#666666; FONT-SIZE: 12px; HEIGHT: 20px;LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a:active {COLOR:#666666; FONT-SIZE: 12px; HEIGHT: 20px;LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a:hover {COLOR: #679ED7; FONT-SIZE: 12px; HEIGHT: 20px;LETTER-SPACING: 1px;TEXT-DECORATION: underline;}

A.nav:link {COLOR:#ffffff; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav:visited {COLOR:#ffffff; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav:active {COLOR:#ffffff; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav:hover {COLOR: #FFCC33; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}

A.nav2:link {COLOR:#FFFF00; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav2:visited {COLOR:#FFFF00; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav2:active {COLOR:#ffffff; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.nav2:hover {COLOR: #FFCC33; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}

A.nav1:link {COLOR:#ffffff; FONT-SIZE: 13px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.nav1:visited {COLOR:#ffffff; FONT-SIZE: 13px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.nav1:active {COLOR:#ffffff; FONT-SIZE: 13px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.nav1:hover {COLOR: #FFCC33; FONT-SIZE: 13px; LETTER-SPACING: 1px;TEXT-DECORATION:underline;}

A.a1:link {COLOR:#2F4FB6; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a1:visited {COLOR:#800080; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a1:active {COLOR:#2F4FB6; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION:none;}
A.a1:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION:underline;}

A.a2:link {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.a2:visited {COLOR: #800080; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.a2:active {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.a2:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}

A.a2a:link {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}
A.a2a:visited {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.a2a:active {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.a2a:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}

A.a3:link {COLOR:00041C; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.a3:visited {COLOR: 00041C; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.a3:active {COLOR: 00041C; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline;}
A.a3:hover {COLOR: #679ED7; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none;}

A.a4:link {COLOR: #0567C0; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:none}
A.a4:visited {COLOR: #0567C0; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: none}
A.a4:active {COLOR: #0567C0; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: none}
A.a4:hover {COLOR: #ff0000; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: underline}

A.a14:link {COLOR: #0000FF; FONT-SIZE: 14px; LETTER-SPACING: 0px;TEXT-DECORATION:none}
A.a14:visited {COLOR: #934D8E; FONT-SIZE: 14px; LETTER-SPACING: 0px;TEXT-DECORATION: none}
A.a14:active {COLOR: #0000FF; FONT-SIZE: 14px; LETTER-SPACING: 0px;TEXT-DECORATION: none}
A.a14:hover {COLOR: #ff0000; FONT-SIZE: 14px; LETTER-SPACING: 0px;TEXT-DECORATION: underline}

A.a5:link {COLOR: #ffffff; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION: none;}
A.a5:visited {COLOR:#ffffff; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION: none;}
A.a5:active {COLOR: #ffffff; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION: none;}
A.a5:hover {COLOR: #FFFF00; FONT-SIZE: 12px; LETTER-SPACING: 1px;TEXT-DECORATION:underline;}

A.a6:link {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION:underline}
A.a6:visited {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: underline}
A.a6:active {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: underline}
A.a6:hover {COLOR: #FAE609; FONT-SIZE: 12px; LETTER-SPACING: 0px;TEXT-DECORATION: none}

A.a7:link {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a7:visited {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a7:active {COLOR: #FFFFFF; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a7:hover {COLOR: #FFFF00; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}

A.a8:link {COLOR: #000000; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a8:visited {COLOR: #800080; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a8:active {COLOR: #000000; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}
A.a8:hover {COLOR: #0567C0; FONT-SIZE: 12px; LETTER-SPACING: 0px;LINE-HEIGHT: 18pt;TEXT-DECORATION:none}

-->
</style>


