.p9 {  font-size: 9pt; text-decoration: none}
a:link { color: #000099; text-decoration: none}
a:visited { color: #000099; text-decoration: none}
a:hover { color: #FF3333; text-decoration: underline}
.pediy {  font-size: 9pt}
