{% extends "main.html" %}

{% block content %}
<div style="display: block;height: 1200px;text-align: left;">
<p>
	500服务器纠结中...	
</p>
<p style="">	
			<form action="" id="searchbox_015582886016506127922:qmnj8zccxka" onsubmit="return false;">
			  <div>
			    <input id="q" type="text" size="15" name="q" value=""/>
				<input id="button_search" name="sa" type="image" align="top" value="Search" src="/static/images/icon_search.gif"/>	
			  </div>
			</form>
			
			<div id="results_015582886016506127922:qmnj8zccxka" style="display:none">
			  <div class="cse-closeResults"> 
			    <a>&times; 关闭</a>
			  </div>
			  <div class="cse-resultsContainer"></div>
			</div>
</p>
<p>
<img src="/static/images/404.jpg" />
</p>

</div>
{% endblock %}