<h1>Export</h1>
<%= link_to "download", :action => 'export' %>
<h1>Import</h1>
<% form_tag :action => "import" do %>
  <%= label_tag 'Data File to Import:' %>
  <%= file_field 'file', 'file' %>
  <%= submit_tag 'Import' %>
<% end %>