<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
<title>
{% block title %}
SAP Expert Pool
{% endblock %}
</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>

<div class="contents">

{% block contents %}

{% endblock %}
</div>

<div class="sidebar">
{% block sidebar %}
<h3>Action</h3>
<ul>
<li>
<a href="/create/"> Create a new Expert</a>

</li>
</ul>

<h3>Recent Experts</h3>
<ul>
{% for expert in recents %}
<li>
<a href="{{expert.get_absolute_url}}">{{expert.name}}</a>

</li>
{% endfor %}
</ul>
{% endblock %}
</div>

</body>
</html>
