{% extends "main.html" %}

{% block title %}{{title}} - System Admin{% endblock %}

{% block blogcontainer %}

<!-- Dependency -->
<script src="http://yui.yahooapis.com/2.5.2/build/yahoo/yahoo-min.js"></script>
<!-- Used for Custom Events and event listener bindings -->
<script src="http://yui.yahooapis.com/2.5.2/build/event/event-min.js"></script>
<!-- Connection Manager -->
<script src="http://yui.yahooapis.com/2.5.2/build/connection/connection-min.js"></script>
<!-- JSON Utility -->
<script src="http://yui.yahooapis.com/2.5.2/build/json/json-min.js"></script>

<!--DataTable-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.2/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datasource/datasource-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.2/build/datatable/datatable-beta-min.js"></script>

<!--my yui grid render-->
<script type="text/javascript" src="/jscripts/imagelist.grid.js"></script>
<script type="text/javascript" src="/jscripts/taglist.grid.js"></script>
<script type="text/javascript" src="/jscripts/archivelist.grid.js"></script>

<div class="yui-g">
<div id="admincontainer" class=" yui-skin-sam">
<script>
    var handleFailure = function(o) {
        if (o.responseText !== undefined) {
            alert("Client RPC Request Error, please retry.");
        }
    }
</script>
    
    <div id="adminmenu">
        <a href="/admin" onfocus="this.blur()">System Configuration</a>  <a href="/admin/more" onfocus="this.blur()">Resource Management</a>
    </div>

<fieldset>
    <legend>Uploaded Images Admin</legend>
    <div class="fieldsetdiv">
        Image List:
        <div>
        <div id="paging"></div>
        <div id="imagediv"></div>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Tag Admin</legend>
    <div class="fieldsetdiv">
        Tag List:
            <div>
            <div id="tag_paging"></div>
            <div id="tagdiv"></div>
            </div>
    </div>
</fieldset>
<fieldset>
    <legend>Archive Admin</legend>
    <div class="fieldsetdiv">
        Archive List:
        <div>
        <div id="archive_paging"></div>        
        <div id="archivediv"></div>
        </div>
    </div>
</fieldset>
</div>
</div>
{% endblock %}

