<DIV id=menu_right>

    {% block webloglist %}
    {% endblock %}
    <div id="subscribe">
      <a href="/atom" target="_blank"><img src="/img/feed-icon-16x16.png" alt="Subscribe to this blog">Subscribe to this blog. </a>
    </div>

    <div id="comments">
        <h2>Recent comments</h2>
        <ul>
            {% for blog in recentReactions %}
            <li>
                {%if blog.permalink %}
                <a href="/{{blog.relative_permalink}}#reactions"> {{blog.title}}</A>
                {% else %}
                <A href="/viewBlog?blogId={{blog.key.id}}#reactions">  {{blog.title}}</A>
                 {% endif %} <span class="commenttime">({{blog.date|date:"m/d/Y"}})</span>
            </li>               
            {% endfor %}
        </ul>

    </div>

    <div id="archives">
        <h2>Archives</h2>
        <ul>
            {% for archive in  archiveList %}
            <li><a href='/archive/{{archive.monthyear|replace:" -"}}'>{{ archive.monthyear }} ({{archive.weblogcount}})</a></li>
            {% endfor %}
        </ul>

    </div>

    <div id="google_ad">
        <!-- {% include 'google_ad.html' %} -->
    </div>

</DIV>