<div id="tagclound">
    <h3>Tag Clound</h3>
    <div>
        <span class="tagheader">My Blog Tags</span>

        <div class="cloud">
            {%for tag in tags%}
            <a href="/tag/{{tag.tag|urlencode}}"  class="tag{{tag.entrycount}}">{{tag.tag}}</a>
            {% endfor%}
        </div>
    </div>
    <div id="delicious">
        <span class="tagheader">My Del.icio.us</span>
        <div class="cloud">
            {% for tag in delicious %}
            <a href="/delicious/{{tag.tag|urlencode}}" class="tag{{tag.entrycount}}">{{tag.tag}}</a>
            {% endfor %}
        </div>
    </div>

</div>