<h1>Welcome to Shi Rui's Daily Life!</h1>

<div id="side_bar">
  <div id="search_form">
    <% form_for :posts_search, :url => { :controller => 'posts', :action => "search" } do |f| %>
      <%= f.text_field 'keys' %>
      <%= submit_tag 'Search Posts' %>
    <% end %>
  </div>
  <div id="friend_blogs">
    <H3>Favourite Sites</H3>
    <dl>
      <dt>Programming:</dt>
      <UL>
        <LI><A href="http://www.sourceforge.net/">Souceforge.net</A>
        </LI>
      </UL>
      <dt>Blog &amp; Wiki</dt>
      <UL>
        <br/>
        <li><a title="frank05" href="http://blog.frank05.net/">frank05</a>
        <li><a title="Goodtiger" href="http://blog.goodtiger.net">Goodtiger</a>
        <li><a title="Marshall" href="http://liujinmarshall.spaces.live.com/">Marshall</a>
        <li><a title="烧饭" href="http://blog.nulltao.net/">nulltao</a>
        <li><a title="pengjetty" href="http://blog.iamjetty.net/">pengjetty</a>
        <li><a title="Pierric" href="http://visnuhoshimi.spaces.live.com/">Pierric</a>
        <li><a title="plioild" href="http://my.donews.com/phio">plioild</a>
        <li><a title="Rufev" href="http://blog.rufev.net/">Rufev & survivur’s</a>
        <li><a title="Samson" href="http://blog.samsonis.me/">Samson</a>
        <li><a title="thebeatles" href="http://blog.classicning.com/">thebeatles</a>
        <li><a title="WilliamGates" href="http://blog.williamgates.biz/">WG</a>
        </li>
      </UL>
    </dl>
  </div>
</div>

<div id="all_posts">
  <%= render :partial => @posts %><p/>
  <%= will_paginate @posts %>
</div>