<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>
      {% block headtitle %}Pabla{% endblock %}
    </title>
    <link href='/media/style.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class='header'>{%block header %}
    Pabla - {% block title %}{% endblock %}
    {% endblock %}</div>
    <div class='headerbar'>
    {% render_user_link current_uri %}
    </div>
    <div class='content'>
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
